<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${freemarket != null} ? '장터 글 수정' : '장터 글 작성'"></title>
</head>
<body>

	<script
		src="https://cdn.tiny.cloud/1/bmpz83s4yqa4fgfuozripnlgp9hjdztmwwmpnqkfnjhs8r39/tinymce/7/tinymce.min.js"
		referrerpolicy="origin"></script>

	<script>
		tinymce
				.init({
					selector : 'textarea',
					plugins : 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
					toolbar : 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
				});
	</script>

	<form
		th:action="${freemarket != null} ? @{'/board/freemarket_update/' + ${freemarket.id}} : @{'/board/freemarket_write'}"
		method="POST">
		<table>
			<tr>
				<td><input name="title" placeholder="제목"
					th:value="${freemarket != null} ? ${freemarket.title} : ''"
					required></td>
			</tr>
			<tr>
				<td><input type="hidden" name="member_id" th:value="${session.user.id}" /></td>
			</tr>
			<tr>
				<td><select name="category" required>
						<option value="" th:if="${freemarket == null}" disabled selected>카테고리
							선택</option>
						<option value="곡물"
							th:selected="${freemarket != null && freemarket.category == '곡물'}">곡물</option>
						<option value="과일"
							th:selected="${freemarket != null && freemarket.category == '과일'}">과일</option>
						<option value="채소"
							th:selected="${freemarket != null && freemarket.category == '채소'}">채소</option>
						<option value="사료 작물"
							th:selected="${freemarket != null && freemarket.category == '사료 작물'}">사료
							작물</option>
						<option value="비료 작물"
							th:selected="${freemarket != null && freemarket.category == '비료 작물'}">비료
							작물</option>
						<option value="원예 작물"
							th:selected="${freemarket != null && freemarket.category == '원예 작물'}">원예
							작물</option>
						<option value="공예 작물"
							th:selected="${freemarket != null && freemarket.category == '공예 작물'}">공예
							작물</option>
				</select></td>
			</tr>
			<tr>
				<td><select name="soldout" required>
						<option value="" th:if="${freemarket == null}" disabled selected>판매
							상태 선택</option>
						<option value="1"
							th:selected="${freemarket != null && freemarket.soldout == 1}">판매중</option>
						<option value="0"
							th:selected="${freemarket != null && freemarket.soldout == 0}">판매완료</option>
				</select></td>
			</tr>
			<tr>
				<td><textarea name="contents" placeholder="내용"
						th:text="${freemarket != null} ? ${freemarket.contents} : ''"></textarea></td>
			</tr>
		</table>

		<br>

		<button th:text="${freemarket != null} ? '수정' : '작성'"></button>
	</form>

</body>
</html>
