<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QnA</title>
</head>
<body>

<div th:replace="~{piece :: header}"></div>

<h1>QnA</h1>
<hr>

<main th:with="list = ${map['list']} , pg = ${map['pg'] } ">
    <table>
        <tr>
            <th th:text="글번호"></th>
            <th th:text="제목"></th>
            <th th:text="작성자"></th>
            <th th:text="조회수"></th>
            <th th:text="작성일"></th>
        </tr>
        <tr th:each="row : ${list}">
            <td th:text="${row.id_number}"></td>
            <td><a href="/board/fB_view/${row.id_number}" th:text="${row.title}"></a></td>
            <td th:text="${row.nick}"></td>
            <td th:text="${row.v_count}"></td>
            <td th:text="${row.w_date}"></td>
        </tr>
    </table>

    <br>

    <ul class="page" th:with="groupParam=${param.group != null ? 'group=' + param.group : ''}, searchParam=${param.search != null ? 'search=' + param.search : ''}">
        <li th:if="${pg.prev}">
            <a th:href="@{|/board/QnA?page=${pg.begin - 1}&${groupParam}&${searchParam}|}">
                이전
            </a>
        </li>

        <li th:each="i : ${#numbers.sequence(pg.begin, pg.end)}">
            <a th:href="@{|/board/QnA?page=${i}&${groupParam}&${searchParam}|}">
                <span th:text="${i}"></span>
            </a>
        </li>

        <li th:if="${pg.next}">
            <a th:href="@{|/board/QnA?page=${pg.end + 1}&${groupParam}&${searchParam}|}">
                다음
            </a>
        </li>
    </ul>

    <form th:action="@{/board/freeBoard}" method="get">
        <select name="group">
            <option value="title">제목</option>
            <option value="nick">작성자</option>
            <option value="contents">내용</option>
        </select>

        <input name="search" type="text">

        <button type="submit">검색</button>
    </form>


    <br>

    <a th:href="@{/board/fBadd}">
        <button>글 작성</button>
    </a>

    <div th:replace="~{piece :: footer}"></div>
</main>

</body>
</html>