<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>piece</title>
</head>
<body>
	<header th:fragment="header">
		<h1>SmartFarm HomePage</h1>
		
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/board/notice">공지사항</a></li>
			<li><a href="/board/freeBoard">자유게시판</a></li>
			<li><a href="/board/freemarket">장터</a></li>
			<li><a href="/board/QnA">질문게시판</a></li>
			<li><a href="/chat/chatbot">챗봇</a></li>
		</ul>
		
		<hr>
	</header>
	
	<footer th:fragment="footer">
	<hr>
	
	<h4>(주)SmartFarm</h4>
	</footer>

</body>
</html>